<p id="notice"><%= notice %></p>

<%= render :template => 'profiles/form' %>


<br>

<div class="grid_1"><img src="<%= @profile.picture %>" /></div>
<div class="grid_5">
  <%= link_to @profile.username, @profile.get_twitter_url, :target => "blank" %>  <br>
   <%= @profile.description %>
</div>


<div class="clear"></div>

<ol class="keywords">
  <% @profile.get_keywords[0,10].each do |a| %>
  <li><%= a %></li>
  <% end %>
</ol>



