<p id="notice"><%= notice %></p>

<%= render :template => 'profiles/form' %>

<p>
  <b>Username:</b>
  <%= link_to @profile.username, @profile.get_twitter_url, :target => "blank" %>
</p>

<p>
  <b>Picture:</b>
  <img src="<%= @profile.picture %>" />
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<p>
  <b>Keywords:</b>
<ol><% @profile.get_keywords[0,10].each do |a| %>
  <li><%= a %></li>
  <% end %>
    </ol>
</p>


<%= link_to 'Back', '/' %>
