<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="tr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="tr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="tr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="tr"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Sosyate</title>
  <%= stylesheet_link_tag    "960", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container" class="container_16">

  <div class="grid_11">
    <br>
    <%= yield %>
  </div>
  <div class="grid_5">


  </div>
</div>

</body>
</html>
